:root {
    --azul-escuro: #20364D;
    --bege: #E5D4D4;
    --laranja-fraco: #E67F45;
    --cinza: #888888;
    --branco: #fff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

nav {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

/*menu lateral*/
nav.menu {
    width: 60px;
    height: 100%;
    background-color: #E48044;
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0px 0 0 rgb(2, 6, 54);
    overflow: hidden;
    transition: .3s;
}

/*icon hamburger*/
.hamburger {
    width: 100%;
    size: 30pt;
    padding-left: 5px;
}

/*Animação de expnsão de menu*/
nav.menu.expandir {
    width: 300px;
    transition: .3s;
}

/*icon do menu hamburger */
.hamburger i {
    color: aliceblue;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

/*Formatação de links nos item*/
a {
    color: #1F364B;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 5%;
    display: flex;
    line-height: 40px;
}

/*Texto do link*/
.text-link {
    margin-left: 20px;
}

/*Formatação de class em JS*/
ul li.ativo {
    background-color: #E7C9B4;
}

.item:hover {
    background-color: #E7C9B4;
    transition: .3s;
}

.icon {
    font-size: 20pt;
}

header {
    margin-left: 50px;
    width: 100%;
}

.cab {
    text-align: center;
    background-color: var(--laranja-fraco);
    color: var(--azul-escuro);
    padding-bottom: 10px;
}

img {
    margin-left: 50px;
    width: 1500px;
    height: 672px;
}

.cab2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 600px;
    text-align: center;
    background-color: var(--laranja-fraco);
    color: var(--branco);
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}

.cab2 img{
    width: 25px;
    height: 25px;
    display: flex;
}

.txt{
    text-align: center;
    color: #1F364B;
}

.main-cadastro{
    margin-left: 70px;
}

.box1{
    margin: auto;
    background-color: var(--laranja-fraco);
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    color: var(--branco);
}